# DOSYA YÜKLEME

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

df=pd.read_csv("odev.csv",sep=",")
print(df)

# ÖZELLİK BAKMA

In [759]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB
None

In [ ]:
print(df.describe())

# NULL BAKMA VE KATAGORİK VERİ DÖNÜŞTÜRME

In [763]:
 print(df.isna().sum().sum())

0

In [765]:
#dosyanın içeriğine baktık null varmı kontrol ettik

In [767]:
df=pd.get_dummies(df,columns=["region"])
print(df.head())

   age     sex     bmi  children smoker      charges  region_northeast  \
0   19  female  27.900         0    yes  16884.92400             False
1   18    male  33.770         1     no   1725.55230             False
2   28    male  33.000         3     no   4449.46200             False
3   33    male  22.705         0     no  21984.47061             False
4   32    male  28.880         0     no   3866.85520             False

   region_northwest  region_southeast  region_southwest
0             False             False              True
1             False              True             False
2             False              True             False
3              True             False             False
4              True             False             False

In [769]:
df["region_northeast"]=[1 if row==True else 0 for row in df["region_northeast"]]

In [771]:
df["region_northwest"]=[1 if row==True else 0 for row in df["region_northwest"]]

In [773]:
df["region_southeast"]=[1 if row==True else 0 for row in df["region_southeast"]]

In [775]:
df["region_southwest"]=[1 if row==True else 0 for row in df["region_southwest"]]

In [777]:
print(df)

      age     sex     bmi  children smoker      charges  region_northeast  \
0      19  female  27.900         0    yes  16884.92400                 0
1      18    male  33.770         1     no   1725.55230                 0
2      28    male  33.000         3     no   4449.46200                 0
3      33    male  22.705         0     no  21984.47061                 0
4      32    male  28.880         0     no   3866.85520                 0
...   ...     ...     ...       ...    ...          ...               ...
1333   50    male  30.970         3     no  10600.54830                 0
1334   18  female  31.920         0     no   2205.98080                 1
1335   18  female  36.850         0     no   1629.83350                 0
1336   21  female  25.800         0     no   2007.94500                 0
1337   61  female  29.070         0    yes  29141.36030                 0

      region_northwest  region_southeast  region_southwest
0                    0                 0                 1
1                    0                 1                 0
2                    0                 1                 0
3                    1                 0                 0
4                    1                 0                 0
...                ...               ...               ...
1333                 1                 0                 0
1334                 0                 0                 0
1335                 0                 1                 0
1336                 0                 0                 1
1337                 1                 0                 0

[1338 rows x 10 columns]

In [779]:
df=pd.get_dummies(df,columns=["sex"])
print(df.head())

   age     bmi  children smoker      charges  region_northeast  \
0   19  27.900         0    yes  16884.92400                 0
1   18  33.770         1     no   1725.55230                 0
2   28  33.000         3     no   4449.46200                 0
3   33  22.705         0     no  21984.47061                 0
4   32  28.880         0     no   3866.85520                 0

   region_northwest  region_southeast  region_southwest  sex_female  sex_male
0                 0                 0                 1        True     False
1                 0                 1                 0       False      True
2                 0                 1                 0       False      True
3                 1                 0                 0       False      True
4                 1                 0                 0       False      True

In [781]:
df["sex_female"]=[1 if row==True else 0 for row in df["sex_female"]]

In [783]:
df["sex_male"]=[1 if row==True else 0 for row in df["sex_male"]]

In [785]:
print(df)

      age     bmi  children smoker      charges  region_northeast  \
0      19  27.900         0    yes  16884.92400                 0
1      18  33.770         1     no   1725.55230                 0
2      28  33.000         3     no   4449.46200                 0
3      33  22.705         0     no  21984.47061                 0
4      32  28.880         0     no   3866.85520                 0
...   ...     ...       ...    ...          ...               ...
1333   50  30.970         3     no  10600.54830                 0
1334   18  31.920         0     no   2205.98080                 1
1335   18  36.850         0     no   1629.83350                 0
1336   21  25.800         0     no   2007.94500                 0
1337   61  29.070         0    yes  29141.36030                 0

      region_northwest  region_southeast  region_southwest  sex_female  \
0                    0                 0                 1           1
1                    0                 1                 0           0
2                    0                 1                 0           0
3                    1                 0                 0           0
4                    1                 0                 0           0
...                ...               ...               ...         ...
1333                 1                 0                 0           0
1334                 0                 0                 0           1
1335                 0                 1                 0           1
1336                 0                 0                 1           1
1337                 1                 0                 0           1

      sex_male
0            0
1            1
2            1
3            1
4            1
...        ...
1333         1
1334         0
1335         0
1336         0
1337         0

[1338 rows x 11 columns]

In [ ]:
#bölgeleri ve cinsiyetleri düzenledik

# TEKRARLAYAN VERİLERE BAKMA VE SİLME

In [789]:
print(df[df.duplicated()])

     age    bmi  children smoker    charges  region_northeast  \
581   19  30.59         0     no  1639.5631                 0

     region_northwest  region_southeast  region_southwest  sex_female  \
581                 1                 0                 0           0

     sex_male
581         1

In [791]:
df.drop_duplicates(inplace=True)

In [793]:
print(df[df.duplicated()])
df.info()

Empty DataFrame
Columns: [age, bmi, children, smoker, charges, region_northeast, region_northwest, region_southeast, region_southwest, sex_female, sex_male]
Index: []
<class 'pandas.core.frame.DataFrame'>
Index: 1337 entries, 0 to 1337
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1337 non-null   int64
 1   bmi               1337 non-null   float64
 2   children          1337 non-null   int64
 3   smoker            1337 non-null   object
 4   charges           1337 non-null   float64
 5   region_northeast  1337 non-null   int64
 6   region_northwest  1337 non-null   int64
 7   region_southeast  1337 non-null   int64
 8   region_southwest  1337 non-null   int64
 9   sex_female        1337 non-null   int64
 10  sex_male          1337 non-null   int64
dtypes: float64(2), int64(8), object(1)
memory usage: 125.3+ KB

In [795]:
#tekrarlayan veriyi sildik

In [797]:
df=pd.get_dummies(df,columns=["smoker"])
print(df.head())

   age     bmi  children      charges  region_northeast  region_northwest  \
0   19  27.900         0  16884.92400                 0                 0
1   18  33.770         1   1725.55230                 0                 0
2   28  33.000         3   4449.46200                 0                 0
3   33  22.705         0  21984.47061                 0                 1
4   32  28.880         0   3866.85520                 0                 1

   region_southeast  region_southwest  sex_female  sex_male  smoker_no  \
0                 0                 1           1         0      False
1                 1                 0           0         1       True
2                 1                 0           0         1       True
3                 0                 0           0         1       True
4                 0                 0           0         1       True

   smoker_yes
0        True
1       False
2       False
3       False
4       False

In [799]:
df["smoker_no"]=[1 if row==True else 0 for row in df["smoker_no"]]
df["smoker_yes"]=[1 if row==True else 0 for row in df["smoker_yes"]]

In [801]:
#smoker i unutmuşum

In [803]:
print(df)

      age     bmi  children      charges  region_northeast  region_northwest  \
0      19  27.900         0  16884.92400                 0                 0
1      18  33.770         1   1725.55230                 0                 0
2      28  33.000         3   4449.46200                 0                 0
3      33  22.705         0  21984.47061                 0                 1
4      32  28.880         0   3866.85520                 0                 1
...   ...     ...       ...          ...               ...               ...
1333   50  30.970         3  10600.54830                 0                 1
1334   18  31.920         0   2205.98080                 1                 0
1335   18  36.850         0   1629.83350                 0                 0
1336   21  25.800         0   2007.94500                 0                 0
1337   61  29.070         0  29141.36030                 0                 1

      region_southeast  region_southwest  sex_female  sex_male  smoker_no  \
0                    0                 1           1         0          0
1                    1                 0           0         1          1
2                    1                 0           0         1          1
3                    0                 0           0         1          1
4                    0                 0           0         1          1
...                ...               ...         ...       ...        ...
1333                 0                 0           0         1          1
1334                 0                 0           1         0          1
1335                 1                 0           1         0          1
1336                 0                 1           1         0          1
1337                 0                 0           1         0          0

      smoker_yes
0              1
1              0
2              0
3              0
4              0
...          ...
1333           0
1334           0
1335           0
1336           0
1337           1

[1337 rows x 12 columns]

In [ ]:
from scipy import stats
import numpy as np

z=np.abs(stats.zscore(df))
print(z)

# Z SCORE BAKMA VE Z SCORE 3 DEN FAZLA İSE SİLME

In [807]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1337 entries, 0 to 1337
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1337 non-null   int64
 1   bmi               1337 non-null   float64
 2   children          1337 non-null   int64
 3   charges           1337 non-null   float64
 4   region_northeast  1337 non-null   int64
 5   region_northwest  1337 non-null   int64
 6   region_southeast  1337 non-null   int64
 7   region_southwest  1337 non-null   int64
 8   sex_female        1337 non-null   int64
 9   sex_male          1337 non-null   int64
 10  smoker_no         1337 non-null   int64
 11  smoker_yes        1337 non-null   int64
dtypes: float64(2), int64(10)
memory usage: 135.8 KB
None

In [809]:
df.head()

,age,bmi,children,charges,region_northeast,region_northwest,region_southeast,region_southwest,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,16884.92400,0,0,0,1,1,0,0,1
1,18,33.770,1,1725.55230,0,0,1,0,0,1,1,0
2,28,33.000,3,4449.46200,0,0,1,0,0,1,1,0
3,33,22.705,0,21984.47061,0,1,0,0,0,1,1,0
4,32,28.880,0,3866.85520,0,1,0,0,0,1,1,0

In [811]:
df['region_northeast'].unique()

array([0, 1], dtype=int64)

In [813]:
#'1' object sayılıyormuş arkadaşıma sormak zorunda kaldım 1 olarak düzelttim

In [815]:
print(np.where (z>3))

(array([  32,   34,   71,  116,  166,  413,  425,  438,  543,  568,  577,
        639,  818,  846,  876,  931,  936,  968,  983, 1046, 1084, 1115,
       1129, 1145, 1229, 1244, 1271, 1299, 1316], dtype=int64), array([2, 3, 2, 1, 2, 2, 2, 2, 3, 2, 3, 2, 3, 1, 2, 2, 2, 2, 2, 1, 2, 2,
       2, 3, 3, 2, 2, 3, 1], dtype=int64))

In [817]:
print(np.where (z>3)[0])

[  32   34   71  116  166  413  425  438  543  568  577  639  818  846
  876  931  936  968  983 1046 1084 1115 1129 1145 1229 1244 1271 1299
 1316]

In [818]:
selected=df.iloc[np.where (z>3)[0]]
print(selected)

      age     bmi  children      charges  region_northeast  region_northwest  \
32     19  28.600         5   4687.79700                 0                 0
34     28  36.400         1  51194.55914                 0                 0
71     31  28.500         5   6799.45800                 1                 0
116    58  49.060         0  11381.32540                 0                 0
166    20  37.000         5   4830.63000                 0                 0
413    25  23.900         5   5080.09600                 0                 0
425    45  24.310         5   9788.86590                 0                 0
438    52  46.750         5  12592.53450                 0                 0
543    54  47.410         0  63770.42801                 0                 0
568    49  31.900         5  11552.90400                 0                 0
577    31  38.095         1  58571.07448                 1                 0
640    33  42.400         5   6666.24300                 0                 0
819    33  35.530         0  55135.40209                 0                 1
847    23  50.380         1   2438.05520                 0                 0
877    33  33.440         5   6653.78860                 0                 0
932    46  25.800         5  10096.97000                 0                 0
937    39  24.225         5   8965.79575                 0                 1
969    39  34.320         5   8596.82780                 0                 0
984    20  30.115         5   4915.05985                 1                 0
1047   22  52.580         1  44501.39820                 0                 0
1085   39  18.300         5  19023.26000                 0                 0
1116   41  29.640         5   9222.40260                 1                 0
1130   39  23.870         5   8582.30230                 0                 0
1146   60  32.800         0  52590.82939                 0                 0
1230   52  34.485         3  60021.39897                 0                 1
1245   28  24.300         5   5615.36900                 0                 0
1272   43  25.520         5  14478.33015                 0                 0
1300   45  30.360         0  62592.87309                 0                 0
1317   18  53.130         0   1163.46270                 0                 0

      region_southeast  region_southwest  sex_female  sex_male  smoker_no  \
32                   0                 1           1         0          1
34                   0                 1           0         1          0
71                   0                 0           0         1          1
116                  1                 0           0         1          1
166                  0                 1           1         0          1
413                  0                 1           0         1          1
425                  1                 0           0         1          1
438                  1                 0           1         0          1
543                  1                 0           1         0          0
568                  0                 1           1         0          1
577                  0                 0           1         0          0
640                  0                 1           0         1          1
819                  0                 0           1         0          0
847                  1                 0           0         1          1
877                  1                 0           0         1          1
932                  0                 1           0         1          1
937                  0                 0           1         0          1
969                  1                 0           1         0          1
984                  0                 0           0         1          1
1047                 1                 0           0         1          0
1085                 0                 1           1         0          0
1116                 0                 0           0         1          1
1130                 1                 0           1         0          1
1146                 0                 1           0         1          0
1230                 0                 0           0         1          0
1245                 0                 1           0         1          1
1272                 1                 0           0         1          1
1300                 1                 0           0         1          0
1317                 1                 0           0         1          1

      smoker_yes
32             0
34             1
71             0
116            0
166            0
413            0
425            0
438            0
543            1
568            0
577            1
640            0
819            1
847            0
877            0
932            0
937            0
969            0
984            0
1047           1
1085           1
1116           0
1130           0
1146           1
1230           1
1245           0
1272           0
1300           1
1317           0

In [819]:
selected.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 32 to 1317
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               29 non-null     int64
 1   bmi               29 non-null     float64
 2   children          29 non-null     int64
 3   charges           29 non-null     float64
 4   region_northeast  29 non-null     int64
 5   region_northwest  29 non-null     int64
 6   region_southeast  29 non-null     int64
 7   region_southwest  29 non-null     int64
 8   sex_female        29 non-null     int64
 9   sex_male          29 non-null     int64
 10  smoker_no         29 non-null     int64
 11  smoker_yes        29 non-null     int64
dtypes: float64(2), int64(10)
memory usage: 2.9 KB

In [820]:
df.drop(df.iloc[np.where (z>3)[0]],axis=0,inplace=True)

KeyError: "['age', 'bmi', 'children', 'charges', 'region_northeast', 'region_northwest', 'region_southeast', 'region_southwest', 'sex_female', 'sex_male', 'smoker_no', 'smoker_yes'] not found in axis"

# YUKARI SATIRDAKİ HATAYI ÇÖZEMEDİĞİM İÇİN TEK TEK ELİMLE SİLDİM

In [823]:
df.drop(34,axis=0,inplace=True)

In [825]:
print(np.where (z>3)[0])

[  32   34   71  116  166  413  425  438  543  568  577  639  818  846
  876  931  936  968  983 1046 1084 1115 1129 1145 1229 1244 1271 1299
 1316]

In [905]:
print(df.iloc[32:35,])
#SİLİNDİMİ DİYE KONTROL ETTİM

         age       bmi  children   charges  region_northeast  \
33  0.978261  0.332257       0.0  0.205759               0.0
35  0.021739  0.120124       0.0  0.008192               0.0
36  0.956522  0.457493       0.6  0.235726               0.0

    region_northwest  region_southeast  region_southwest  sex_female  \
33               1.0               0.0               0.0         0.0
35               1.0               0.0               0.0         0.0
36               1.0               0.0               0.0         1.0

    sex_male  smoker_no  smoker_yes
33       1.0        1.0         0.0
35       1.0        1.0         0.0
36       0.0        1.0         0.0

In [829]:
df.drop(32,axis=0,inplace=True)

In [831]:
print(df.iloc[32:35,])

    age     bmi  children      charges  region_northeast  region_northwest  \
33   63  28.310         0  13770.09790                 0                 1
35   19  20.425         0   1625.43375                 0                 1
36   62  32.965         3  15612.19335                 0                 1

    region_southeast  region_southwest  sex_female  sex_male  smoker_no  \
33                 0                 0           0         1          1
35                 0                 0           0         1          1
36                 0                 0           1         0          1

    smoker_yes
33           0
35           0
36           0

In [907]:
#doğru yeri sildi mi diye baktım şimdi tek tek elimle silicem
#hatayı anlamadım

In [835]:
df.drop(71,axis=0,inplace=True)
df.drop(116,axis=0,inplace=True)
df.drop(166,axis=0,inplace=True)
df.drop(413,axis=0,inplace=True)
df.drop(425,axis=0,inplace=True)
df.drop(438,axis=0,inplace=True)
df.drop(543,axis=0,inplace=True)
df.drop(568,axis=0,inplace=True)
df.drop(577,axis=0,inplace=True)
df.drop(639,axis=0,inplace=True)
df.drop(818,axis=0,inplace=True)
df.drop(846,axis=0,inplace=True)
df.drop(876,axis=0,inplace=True)
df.drop(931,axis=0,inplace=True)
df.drop(936,axis=0,inplace=True)
df.drop(968,axis=0,inplace=True)
df.drop(983,axis=0,inplace=True)
df.drop(1046,axis=0,inplace=True)
df.drop(1084,axis=0,inplace=True)
df.drop(1115,axis=0,inplace=True)
df.drop(1129,axis=0,inplace=True)
df.drop(1145,axis=0,inplace=True)
df.drop(1229,axis=0,inplace=True)
df.drop(1244,axis=0,inplace=True)
df.drop(1271,axis=0,inplace=True)
df.drop(1299,axis=0,inplace=True)
df.drop(1316,axis=0,inplace=True)

In [837]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1308 entries, 0 to 1337
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1308 non-null   int64
 1   bmi               1308 non-null   float64
 2   children          1308 non-null   int64
 3   charges           1308 non-null   float64
 4   region_northeast  1308 non-null   int64
 5   region_northwest  1308 non-null   int64
 6   region_southeast  1308 non-null   int64
 7   region_southwest  1308 non-null   int64
 8   sex_female        1308 non-null   int64
 9   sex_male          1308 non-null   int64
 10  smoker_no         1308 non-null   int64
 11  smoker_yes        1308 non-null   int64
dtypes: float64(2), int64(10)
memory usage: 132.8 KB

In [ ]:
df.shape

# MİN MAX NORMALİZASYONU YAPTIM

In [ ]:
 df=(df-df.min())/(df.max()-df.min())
print(df.head())

# X Y BELİRLEDİK

In [843]:
y=df.loc[:,"charges"].values
x=df.drop("charges",axis=1)

In [ ]:
print(x.values)

# LINEAR-DECISONTREE-RANDOMFORESTTREE REGRESYONU YAPTIM
# VE TRAİN-TEST SPLIT

In [917]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor


from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=42)

mlr=LinearRegression()
mlr.fit(x_train,y_train)
mlr_pred=mlr.predict(x_test)

dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)
dt_pred=dt.predict(x_test)

rf=RandomForestRegressor(n_estimators=100,random_state=42)
rf.fit(x_train,y_train.ravel())
rf_pred=rf.predict(x_test)

In [918]:
print("mlr",r2_score(y_test,mlr_pred),mean_absolute_percentage_error(y_test,mlr_pred))
print("dt",r2_score(y_test,dt_pred),mean_absolute_percentage_error(y_test,dt_pred))
print("rf",r2_score(y_test,rf_pred),mean_absolute_percentage_error(y_test,rf_pred))

mlr 0.7618864284233892 0.6391599455937254
dt 0.7169570142686552 1.0135136542527143
rf 0.8394380439584896 0.7908209837142085

In [921]:
#decision tree linear regression ve random forest import ettik ve sonuçlarına baktık
#ve train test split yaptık

In [923]:
from sklearn.metrics import r2_score,mean_absolute_error,mean_absolute_percentage_error,mean_squared_error

In [925]:
print("mlr r2",r2_score(y,mlr_pred))
print("mlr mae",mean_absolute_error(y,mlr_pred))
print("mlr mape",mean_absolute_percentage_error(y,mlr_pred))
print("mlr mse",mean_squared_error(y,mlr_pred))
print("mlr rmse",(mean_squared_error(y,mlr_pred))**0.5)

ValueError: Found input variables with inconsistent numbers of samples: [1308, 131]

In [885]:
df.iloc[1305:1309,]

,age,bmi,children,charges,region_northeast,region_northwest,region_southeast,region_southwest,sex_female,sex_male,smoker_no,smoker_yes
1335,0.000000,0.562012,0.0,0.008263,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1336,0.065217,0.264730,0.0,0.014414,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
1337,0.934783,0.352704,0.0,0.455816,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

In [887]:
print(y.shape)

(1308,)

In [889]:
print(x.shape)

(1308, 11)

In [891]:
print(len(y))
print(len(mlr_pred))

1308
131

In [893]:
mlr=LinearRegression()
mlr.fit(x,y)
mlr_pred=mlr.predict(x)

# 925 in neden hata verdiğini buldum x'in train-testsplit verilerini kullandığı için boyutları eşleşmiyormuş

In [897]:
print("mlr r2",r2_score(y,mlr_pred))
print("mlr mae",mean_absolute_error(y,mlr_pred))
print("mlr mape",mean_absolute_percentage_error(y,mlr_pred))
print("mlr mse",mean_squared_error(y,mlr_pred))
print("mlr rmse",(mean_squared_error(y,mlr_pred))**0.5)

mlr r2 0.7549633411630289
mlr mae 0.06708452568528986
mlr mape 91771711627.1231
mlr mse 0.009327830899466198
mlr rmse 0.09658069630866303

In [928]:
#r2,mae,rmse,mse değerleri güzel mape deği 0 lar fazla olduğu için kötü geldi